/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a simple layout with Flexbox */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #98e7dd;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

.container {
    display: flex;
}

aside {
    width: 250px;
    background-color: #92e782;
    color: #fff;
    height: 400px;
    padding: 20px;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 10px;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #f3dd62;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}